In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(), city_data_df.dtypes

(   City_ID        City Country                 Date      Lat       Lng  \
 0        0  Nouadhibou      MR  2021-03-27 20:38:59  20.9310  -17.0347
 1        1      Zaraza      VE  2021-03-27 20:38:59   9.3503  -65.3245
 2        2       Bumba      CD  2021-03-27 20:38:59   2.1833   22.4667
 3        3     Rikitea      PF  2021-03-27 20:38:59 -23.1203 -134.9692
 4        4   Chunhuhub      MX  2021-03-27 20:38:59  19.5500  -88.6833

    Max Temp  Humidity  Cloudiness  Wind Speed
 0     66.20        82           0       17.27
 1     87.71        45          95       11.23
 2     73.06        78          68        1.14
 3     79.45        71           2       18.79
 4     91.13        40          66        9.33  ,
 City_ID         int64
 City           object
 Country        object
 Date           object
 Lat           float64
 Lng           float64
 Max Temp      float64
 Humidity        int64
 Cloudiness      int64
 Wind Speed    float64
 dtype: object)

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.  Google heatmaps don't accept negative values.  Adjust them (artificially)
# first approach. but list comprehension is better
#max_temp = city_data_df["Max Temp"]
#adj_temp = []
#for temp in max_temp:
#    adj_temp.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.  Google heatmaps don't accept negative values.  Adjust them in the call
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
# adjust to use the 'center of the Earth', and zoom in a bit
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=adj_temp)
# instead of doing the oververt looping, use list comprehension in the call
# now adjust the look of hte map - dissipation, intensity, and radius
#heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Zaraza,VE,2021-03-27 20:38:59,9.3503,-65.3245,87.71,45,95,11.23
3,3,Rikitea,PF,2021-03-27 20:38:59,-23.1203,-134.9692,79.45,71,2,18.79
5,5,Puerto Escondido,MX,2021-03-27 20:39:00,15.8500,-97.0667,86.47,45,0,8.16
6,6,Carnarvon,AU,2021-03-27 20:39:00,-24.8667,113.6333,75.20,78,40,5.75
8,8,Riberalta,BO,2021-03-27 20:39:00,-10.9833,-66.1000,82.40,83,75,4.61
11,11,Avera,US,2021-03-27 20:39:01,33.1940,-82.5271,82.40,65,40,11.50
13,13,Moussoro,TD,2021-03-27 20:39:01,13.6408,16.4901,79.11,13,3,20.87
14,14,Puri,IN,2021-03-27 20:39:02,19.8000,85.8500,77.00,69,75,5.75
16,16,Georgetown,MY,2021-03-27 20:34:31,5.4112,100.3354,82.40,89,20,1.14
17,17,Kapaa,US,2021-03-27 20:39:02,22.0752,-159.3190,77.00,78,40,12.66

In [12]:
preferred_cities_df.count()
#
# you would likely use this in practice to remove any nulls
#preferred_cities_df.dropna()

City_ID       200
City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1             Zaraza      VE     87.71   9.3503  -65.3245
3            Rikitea      PF     79.45 -23.1203 -134.9692
5   Puerto Escondido      MX     86.47  15.8500  -97.0667
6          Carnarvon      AU     75.20 -24.8667  113.6333
8          Riberalta      BO     82.40 -10.9833  -66.1000
11             Avera      US     82.40  33.1940  -82.5271
13          Moussoro      TD     79.11  13.6408   16.4901
14              Puri      IN     77.00  19.8000   85.8500
16        Georgetown      MY     82.40   5.4112  100.3354
17             Kapaa      US     77.00  22.0752 -159.3190

In [14]:
# Set parameters to search for a hotel.
# ther requests module allows you to pass a set of parameters as dictionary
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Zaraza,VE,87.71,9.3503,-65.3245,Hotel Zaraza
3,Rikitea,PF,79.45,-23.1203,-134.9692,Pension Maro'i
5,Puerto Escondido,MX,86.47,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
6,Carnarvon,AU,75.20,-24.8667,113.6333,Hospitality Carnarvon
8,Riberalta,BO,82.40,-10.9833,-66.1000,Hotel Colonial
11,Avera,US,82.40,33.1940,-82.5271,
13,Moussoro,TD,79.11,13.6408,16.4901,Pharmacie alnadja Moussoro
14,Puri,IN,77.00,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
16,Georgetown,MY,82.40,5.4112,100.3354,Cititel Penang
17,Kapaa,US,77.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots.
# relocate this code after the required data transformations so that if rerun, it will work poperly
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))